html, body{
  margin: 0;
  font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2{
  text-align: center ;
  font-weight: normal;
}

h1{
  
  font-size: 30px;
  margin: 15px;
  color: #1a1a1a;
}
h2{
  font-size: 18px;
  color: #999;
  margin: 15px;
  margin-top: 20px;
}

.header {
  position: absolute;
}

.middle {
  margin-top: 130px;
  margin-left: 20px;
}

.edinalogo{
	width:136px;
	height:63px;
	margin-left:40px;
	margin-top:10px;
}


#intro{
  width: 800px ;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 3px 3px 3px 3px;
  text-align: center ;
  margin: auto;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; 
  line-height: 18px;
}

#date, #play, #slider-container{
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
}

.date{
  border-left: 5px solid #ccc;
  padding: 3px 0 3px 10px;
  margin-left: 0px;
  color: #333;
}
.date p{
  margin: 0;
}
.date p:first-child{
  color: #999;
  font-size: 11px;
  line-height: 13px;
}
.date p#time{
  font-size: 30px;
  line-height: 30px;
}
.date p#time span{
  float: left;
  width: 2.55em;
}


#play{
 
  border-radius: 5px;
  margin-left: 0px;
  cursor: pointer;
}

#play:hover{
  background-position: 0 -53px;
}
/*
#play.pause{
  background-image: url(../images/pause.png);
}
*/
#slider{
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.top-buffer { margin-top:20px; }
