h1, h2, #intro{
  text-align: center ;
    vertical-align: top ;
  font-weight: normal;
}

h1{
  font-size: 30px;
  margin: 20px;
  color: #1a1a1a;
}
h2{
  font-size: 18px;
  color: #999;
  margin: 15px;
}



#intro{
  width: 800px;
  margin: auto;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; line-height: 18px;
}

#date, #play, #slider-container{
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
}

#date{
  border-left: 5px solid #ccc;
  padding: 3px 0 3px 10px;
  margin-left: 60px;
  color: #333;
}
#date p{
  margin: 0;
}
#date p:first-child{
  color: #999;
  font-size: 11px;
  line-height: 13px;
}
#date p#month{
  font-size: 30px;
  line-height: 30px;
}
#date p#month span{
  float: left;
  width: 2.55em;
}
/*
#play{
  width: 53px;
  height: 53px;
  background-image: url(../images/play.png);
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}
*/
#play:hover{
  background-position: 0 -53px;
}
/*
#play.pause{
  background-image: url(../images/pause.png);
}
*/